In [1]:
secret = 'super#secure#p4sswrd'

In [2]:
import pandas as pd
import pymongo as pm
import numpy as np

client = pm.MongoClient(f'mongodb://super#mongo#admin:{secret}@127.0.0.1:27017/')
collection = client['aram_data']['raw_match_details']
df = pd.DataFrame(list(collection.find({'queueId': 450}))) # 450 is Aram queue; could also filter by 'gameMode': 'ARAM'
display(df.shape)
display(df.head())

(5046, 15)

,_id,gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,gameType,teams,participants,participantIdentities,used_for_crawling
0,4393647739,4393647739,EUW1,1580640058134,620,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",1.0
1,4393655450,4393655450,EUW1,1580638770970,998,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",1.0
2,4393151476,4393151476,EUW1,1580591496402,1192,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",NaN
3,4393125029,4393125029,EUW1,1580590038611,1215,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",NaN
4,4390113053,4390113053,EUW1,1580414968322,1193,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",NaN

In [3]:
# boilds down a team to their team_championId_spell1Id_spell2Id
# team 100: blue; 200: red
# add label 1/0 if win/lose
def reduce_to_core(participants, teams, winner):
    team = []
    for participant in participants:
        is_win = next((team for team in teams if team['teamId'] == participant['teamId']), None)['win'] == 'Win'
        if participant['spell1Id'] < participant['spell2Id']:
            core = (f"{participant['teamId']}_{participant['championId']}_{participant['spell1Id']}_{participant['spell2Id']}")
        else:
            core = (f"{participant['teamId']}_{participant['championId']}_{participant['spell2Id']}_{participant['spell1Id']}")
        if winner == is_win:
            team.append(core)
    return team

winners = pd.DataFrame([reduce_to_core(x, y, True) for x, y in zip(df['participants'], df['teams'])])
losers = pd.DataFrame([reduce_to_core(x, y, False) for x, y in zip(df['participants'], df['teams'])])
winners['win'] = 1
losers['win'] = 0
all = pd.concat([winners, losers])

display(all)

,0,1,2,3,4,win
0,100_85_4_32,100_8_4_6,100_15_4_21,100_1_4_32,100_236_4_7,1
1,100_86_4_32,100_136_4_32,100_150_4_32,100_111_4_14,100_53_4_32,1
2,200_104_4_7,200_76_4_13,200_32_4_32,200_518_4_32,200_25_4_32,1
3,200_64_4_14,200_117_4_13,200_6_4_7,200_36_4_32,200_57_4_32,1
4,100_92_4_32,100_3_4_32,100_86_4_32,100_76_4_13,100_127_4_32,1
...,...,...,...,...,...,...
5041,200_112_4_13,200_64_4_32,200_516_4_32,200_35_4_32,200_15_4_7,0
5042,100_54_4_7,100_5_4_32,100_98_4_32,100_498_4_7,100_111_4_32,0
5043,100_25_4_14,100_34_4_21,100_201_4_32,100_18_4_7,100_29_4_21,0
5044,100_80_4_32,100_119_4_14,100_86_4_32,100_13_4_7,100_134_4_13,0
5045,200_131_4_14,200_54_4_32,200_98_4_32,200_16_4_7,200_13_4_7,0

In [4]:
#v3

df_list = []
def transform_to_sparse_entry(p1, p2, p3, p4, p5, result):
    data = [1, 1, 1, 1, 1, result]
    columns = [p1, p2, p3, p4, p5, 'win']
    new = pd.DataFrame(data = [data], columns = columns)
    df_list.append(new)
%timeit [transform_to_sparse_entry(p1, p2, p3, p4, p5, result) for p1, p2, p3, p4, p5, result in zip(all[0], all[1], all[2], all[3], all[4], all['win'])]
# concat takes a "long" time!
r = pd.concat(df_list[0:50], ignore_index = True, sort = False)
display(r.info())
display(r.head())

5.5 s ± 74.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Columns: 207 entries, 100_85_4_32 to 100_427_4_32
dtypes: float64(206), int64(1)
memory usage: 81.0 KB

None

,100_85_4_32,100_8_4_6,100_15_4_21,100_1_4_32,100_236_4_7,win,100_86_4_32,100_136_4_32,100_150_4_32,100_111_4_14,...,100_27_4_32,100_268_4_21,100_122_4_32,200_48_4_32,200_161_4_14,200_89_4_32,200_150_4_32,200_2_4_32,200_7_4_32,100_427_4_32
0,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,1,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
from datetime import datetime

collection = client['aram_data']['data_sets']
collection.insert_one({'_id': f"{datetime.now().strftime('%Y-%m-%dT%H:%M:%S.000Z')}___prepared_v1",'data': r.to_dict('records')})