In [6]:
secret = 'super#secure#p4sswrd'

In [52]:
import pandas as pd
import pymongo as pm

client = pm.MongoClient(f'mongodb://super#mongo#admin:{secret}@127.0.0.1:27017/')
collection = client['aram_data']['raw_match_details']
df = pd.DataFrame(list(collection.find({})))
display(df.shape)
display(df.head())

(3230, 15)

,_id,gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,gameType,teams,participants,participantIdentities,used_for_crawling
0,4393647739,4393647739,EUW1,1580640058134,620,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",1.0
1,4393655450,4393655450,EUW1,1580638770970,998,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",NaN
2,4393151476,4393151476,EUW1,1580591496402,1192,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",NaN
3,4393125029,4393125029,EUW1,1580590038611,1215,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",NaN
4,4390113053,4390113053,EUW1,1580414968322,1193,450,12,13,10.2.305.4739,ARAM,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",NaN

In [62]:
def reduce_to_core(participants, teams, winner):
    team = []
    for participant in participants:
        is_win = next((team for team in teams if team['teamId'] == participant['teamId']), None)['win'] == 'Win'

        core = (f"{participant['teamId']}_{participant['championId']}_{participant['spell1Id']}_{participant['spell2Id']}")
        if winner == is_win:
            team.append(core)
    return team

winners = pd.DataFrame([reduce_to_core(x, y, True) for x, y in zip(df['participants'], df['teams'])])
losers = pd.DataFrame([reduce_to_core(x, y, False) for x, y in zip(df['participants'], df['teams'])])
winners['win'] = 1
losers['win'] = 0
all = pd.concat([winners, losers])

display(all)

,0,1,2,3,4,win
0,100_85_32_4,100_8_4_6,100_15_4_21,100_1_4_32,100_236_4_7,1
1,100_86_4_32,100_136_4_32,100_150_32_4,100_111_4_14,100_53_32_4,1
2,200_104_4_7,200_76_13_4,200_32_32_4,200_518_4_32,200_25_4_32,1
3,200_64_14_4,200_117_13_4,200_6_7_4,200_36_32_4,200_57_32_4,1
4,100_92_4_32,100_3_4_32,100_86_4_32,100_76_13_4,100_127_4_32,1
...,...,...,...,...,...,...
3225,200_14_4_21,200_17_21_4,200_412_4_32,200_18_4_32,200_1_4_32,0
3226,200_120_32_6,200_31_4_32,200_523_13_4,200_38_14_4,200_105_21_4,0
3227,200_5_4_32,200_102_32_4,200_50_32_4,200_145_4_21,200_432_4_7,0
3228,100_238_14_4,100_412_4_32,100_29_4_21,100_222_21_4,100_57_4_32,0
3229,100_7_4_32,100_92_4_32,100_412_4_32,100_31_4_32,100_10_4_32,0